.navbar-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 2vh 0;
    transition: transform 0.3s ease-in;
    transform: scale(1);
    font-size: 3.5vh;
    text-align: center;
    flex: 1;
}

.navbar-button.selected {
    background-color: black;
    transition: background-color 0.3s;
    height: 100%;
}