.cont-transaction {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid lightgray;
    margin: 1vh 0;
}

.cont-transaction > div {
    height: 100%;
    display: flex;
    align-items: center;
}

.cont-transaction .cont-left {
    display: flex;
    justify-content: center;
}

.cont-transaction .cont-left img {
    height: 7vh;
    padding: 1vh 0;
}

@media (max-width: 500px) {
    .cont-transaction .cont-left img {
        height: 5vh;
        padding: 0 1vh 0 0;
    }
}

.cont-transaction .cont-middle {
    padding-left: 1vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cont-transaction .cont-middle .name {
    font-size: 3vh;
}

.cont-transaction .cont-middle .date {
    color: rgb(134, 134, 134);
    font-size: 2vh;
}

.cont-transaction .cont-right {
    margin: 0 1vh;
}

.cont-transaction .cont-right div {
    font-weight: bold;
    line-height: 1;
    padding: 0.25em 1em;
    background: lightgrey;
    border-radius: 1em;
    text-align: right;
}

.cont-transaction .cont-right .income {
    background: var(--positive-background);
    color: var(--positive-text);
}

.cont-transaction .cont-right .outcome {
    background: var(--negative-background);
    color: var(--negative-text);
}