.cont-outer-modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(128, 128, 128, 0.459);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-modal {
    width: 50vw;
    height: 50vh;
    position: absolute;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.cont-modal .cont-header {
    width: 100%;
    background: black;
    color: white;
    padding-left: 2vh;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}

.cont-modal .cont-header .cont-title {
    display: flex;
    align-items: center;
    font-size: 5vh;
}

.cont-modal .cont-header .cont-close {
    display: flex;
    align-items: center;
    font-size: 4vh;
    cursor: pointer;
    margin-right: 2vh;
    transition: transform 0.3s;
    transform: rotate(0);
}

.cont-modal .cont-header .cont-close:hover {
    transition: transform 0.3s;
    transform: rotate(90deg)
}

.cont-modal .cont-transaction-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cont-submit {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cont-modal .cont-transaction-info button {
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 0.5em;
    background: #fbaf3a;
    cursor: pointer;
}

.cont-modal .cont-transaction-info button.delete {
    background: #ff5a66;
}
